---
import BaseLayout from "../layouts/baselayout.astro";
import "@fontsource/ibm-plex-sans-hebrew";
---

<BaseLayout title="404">
  <div
    class="bg-[#ffffff] m-auto mt-[130px] shadow-xl dark:bg-DM-Title-Bar rounded-[16px] flex flex-col h-[300px] items-center justify-center px-20 md:px-20 md:py-20 md:flex md:flex-col md:items-center"
  >
    <h1
      class="text-[32px] text-LM-Title dark:text-DM-Title mb-5 md:text-[45px] md:mb-10"
    >
      404 Not Found
    </h1>
    <p class="text-[22px] text-LM-Para dark:text-DM-Para md:text-[25px]">
      This place does not exist<br />
      perhaps visit the <a
        class="text-LM-Nav-Unselected dark:text-DM-Nav-Unselected hover:underline"
        href="/">home</a
      > page.
    </p>
  </div>
  <script is:inline>
    const theme = (() => {
      if (
        typeof localStorage !== "undefined" &&
        localStorage.getItem("theme")
      ) {
        return localStorage.theme;
      } else if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
        return "dark";
      } else {
        return "light";
      }
    })();

    document.documentElement.classList.toggle("dark", theme === "dark");
    localStorage.setItem("theme", theme);
  </script>
</BaseLayout>

<style>
  div main h1 {
    font-family: "IBM Plex Sans Hebrew", sans-serif;
    font-weight: 700;
    text-align: center;
    letter-spacing: -0.81px;
  }
  p {
    font-family: "IBM Plex Sans Hebrew", sans-serif;
    font-style: normal;
    text-align: center;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.81px;
  }
</style>
