---
import BaseLayout from "../layouts/baselayout.astro";
---

<BaseLayout title="404">
  <div
    class="bg-[#ffffff] m-auto mt-[150px] mb-[150px] shadow-xl dark:bg-DM-Title-Bar rounded-[16px] flex flex-col h-[300px] items-center justify-center px-20 md:mt-[100px] md:mb-[130px] md:px-20 md:py-20 md:flex md:flex-col md:items-center"
  >
    <h1
      class="text-[27px] font-title text-LM-Title dark:text-DM-Title mb-5 md:text-[35px] md:mb-10"
    >
      404 Not Found
    </h1>
    <p class="text-[18px] font-title text-center text-LM-Para dark:text-DM-Para md:text-[20px]">
      This page does not exist<br />
      perhaps visit the <a
        class="text-LM-Nav-Unselected dark:text-DM-Nav-Unselected hover:underline"
        href="/">home</a
      > page
    </p>
  </div>
  <script is:inline>
    const theme = (() => {
      if (
        typeof localStorage !== "undefined" &&
        localStorage.getItem("theme")
      ) {
        return localStorage.theme;
      } else if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
        return "dark";
      } else {
        return "light";
      }
    })();

    document.documentElement.classList.toggle("dark", theme === "dark");
    localStorage.setItem("theme", theme);
  </script>
</BaseLayout>