---
import { Image } from "astro:assets";
import yashsharma from "../imgs/yashsharma.png";
import BaseLayout from "../layouts/baselayout.astro";
// Supports weights 300-700
import "@fontsource-variable/comfortaa";
import "@fontsource-variable/playfair-display";
---
<BaseLayout title="about">
  <h class="mb-[15px] text-[16px] text-LM-Title dark:text-DM-Title md:text-[20px] md:mb-[30px]">ABOUT</h>
  <div class="flex flex-col items-center justify-between space-y-5 mb-7 xl:flex xl:flex-row xl:items-center xl:w-full xl:justify-between">
    <div class="space-y-2 text-[16px] text-LM-Para dark:text-DM-Para md:text-[18px] md:space-y-4 xl:space-y-4 xl:w-[700px]">
      <p class="text-[16px] text-LM-Para dark:text-DM-Para md:text-[18px]">
        Hello, I am <span class="italic">Yash Sharma</span>, a sophomore studying 
        Mechanical Engineering. I love designing and developing. My interest in 
        machines started when I was a kid, taking apart watches, phones, and toy cars. 
        My curiosity grew when my dad gave me a watch, and I took it apart in a week. 
        I also spent hours playing GTA Vice City and Road Rash on our old Windows XP 
        <a class="text-LM-Link dark:text-DM-Link hover:underline" href="https://en.wikipedia.org/wiki/Intel_Core_2">
        Pentium Core 2 Duo</a> computer. 
      </p>
      <p class="text-[16px] text-LM-Para dark:text-DM-Para md:text-[18px]">
        I started my coding journey on that computer. In 10th grade, I wrote my 
        first Python code(add here what sort of code you wrote), which sparked 
        my interest in coding. In 11th grade, my father gifted me a MacBook. I 
        discovered <a class="text-LM-Link dark:text-DM-Link hover:underline" href="https://blender.org">Blender</a>
         through a video of someone animating a ring, and so my passion for 3D Modelling began.
      </p>
      <p class="text-[16px] text-LM-Para dark:text-DM-Para md:text-[18px]">
        Apart from technology, I have a keen interest in physics and astronomy.
        Curiosity has always driven me to explore different fields. In this age of 
        abundant information, I satisfy my interests by learning from online resources.
      </p>
      <p class="text-[16px] text-LM-Para dark:text-DM-Para md:text-[18px]">
        If we share same interests and want to share something, shoot me a <a class="text-LM-Link dark:text-DM-Link hover:underline" href="mailto:yashsharma4583@gmail.com">e-mail</a>. 
        I'm always eager to interact with new people.
      </p>
    </div>
    <div class="md:mx-10 md:flex md:justify-center">
      <Image
        class="w-[500px] rounded-[8px] shadow-xl"
        src={yashsharma}
        alt="Yash Sharma"
      />
    </div>
  </div>
</BaseLayout>

<style>
  h {
    text-align: center;
    font-family: "Comfortaa Variable", system-ui;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1px;
  }
  p {
    width: auto;
    color: var(--Light-Mode-LM---Para, #585858);
    font-family: "Playfair Display Variable";
    font-weight: 100;
    line-height: 135.292%; /* 33.823px */
  }
</style>
