---
import { Image } from "astro:assets";

import yashsharma from "../imgs/yashsharma.png";
import BaseLayout from "../layouts/baselayout.astro";

import type { Crumb } from "../utils/types";

const breadcrumbs: Array<Crumb> = [{ title: "ABOUT", href: "/about/" }];
---
<BaseLayout title="about" current="about" breadcrumbs={breadcrumbs}>
  <div class="flex flex-col mb-4 items-center justify-between space-y-5 xl:flex xl:flex-row xl:items-center xl:w-full xl:justify-between">
    <div class="font-para flex flex-col space-y-2 md:space-y-4 text-[15px] md:text-[17px] text-LM-Para dark:text-DM-Para xl:max-w-[700px] transition ease-linear">
      <p>
        Hello, I am <span class="italic">Yash Sharma</span>, a sophomore studying 
        Mechanical Engineering. I love designing and developing. My interest in 
        machines started when I was a kid, taking apart watches, phones, and toy cars. 
        My curiosity grew when my dad gave me a watch, and I took it apart in a week. 
        I also spent hours playing GTA Vice City and Road Rash on our old Windows XP 
        <a class="text-LM-Link dark:text-DM-Link hover:underline transition ease-linear" href="https://en.wikipedia.org/wiki/Intel_Core_2">
        Pentium Core 2 Duo</a> computer. 
      </p>
      <p>
        I started my coding journey on that computer. In 10th grade, I wrote my 
        first Python code, which sparked 
        my interest in coding. In 11th grade, my father gifted me a MacBook. I 
        discovered <a class="text-LM-Link dark:text-DM-Link hover:underline transition ease-linear" href="https://blender.org">Blender</a>
         through a video of someone animating a ring, and so my passion for 3D Modelling began.
      </p>
      <p>
        Apart from technology, I have a keen interest in physics and astronomy.
        Curiosity has always driven me to explore different fields. In this age of 
        abundant information, I satisfy my interests by learning from online resources.
      </p>
      <p>
        If we share same interests and want to share something, shoot me an 
        <a class="text-LM-Link dark:text-DM-Link hover:underline transition ease-linear" href="mailto:yashsharma4583@gmail.com">e-mail</a>. 
        I'm always eager to interact with new people.
      </p>
    </div>
    <Image
      class="m-10 w-[400px] rounded-lg shadow-xl"
      src={yashsharma}
      alt="Yash Sharma"
    />
  </div>
</BaseLayout>
