---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
// Supports weights 300-700
import "@fontsource-variable/comfortaa"
import "@fontsource-variable/playfair-display"
import "@fontsource/ibm-plex-sans-hebrew"
---

<html lang="en" class="bg-[#EEEEEE] scroll-smooth antialiased">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="y.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>about</title>
  </head>
  <body>
    <Nav />
    <main class="flex flex-col items-start mx-[35px] mt-[25px] md:mx-[100px] md:mt-[30px]">
      <h class="mb-[15px] text-[16px] md:text-[20px] md:mb-[30px]">ABOUT</h>
      <div class="space-y-2 md:space-y-4">
      <p class="text-[16px] md:text-[20px]">
        Hello I am Yash Sharma. Welcome to my corner of internet. I am currently
        a sophomore at university studying Mechanical Engineering. I have always
        been interested in Engineering, that's make me pick this as a major. I
        have been tinkering with machines since my childhood, there is no count
        of how many watches, phones, toy cars, I have opend till now. The
        interest in machine probably began when my dad bring me a watch and I
        opened it in a week, he was not happy :). We also had a windows xp
        machine with Pentium Core 2 Duo with 512MB of RAM, I still have it. I
        used to spend 3-4hr a day playing GTA Vice City and Road Rash. That is
        where my fascination with computers began. I would spend hours just
        removing and re-placing components on the motherboard.
      </p>
      <p class="text-[16px] md:text-[20px]">
        Curiosity has taken me to interesting places in my life and given me a
        lot of opportunities I would not have had otherwise. I believe it is an
        important trait for a person to have. Curiosity guids me to amazing
        opportunities and adventures. In this age of open information, there are
        plenty of guides available on almost any subject matter. This makes is
        simple for someone like me to just learn online about topics I am
        interested in. Whether it's diving into physics, programming, robotics
        and others or trying my hand at biology and history, I'm always eager to
        expand my knowledge. On this website, you'll find highlights of my
        curious journey, from fun projects to exciting discoveries. Let's learn
        together and see where curiosity takes us!
      </p>
      <p class="text-[16px] md:text-[20px]">I've always been a knowledge seeker</p>
    </div>
    </main>
    <Footer />
  </body>
</html>
<style>
  main h {
    color: var(--Light-Mode-LM---Title, #000);
    text-align: center;
    font-family: "Comfortaa Variable", system-ui;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.00px;
  }
  main p {
    width: auto;
    color: var(--Light-Mode-LM---Para, #585858);
    font-family: 'Playfair Display Variable', serif;
    font-style: normal;
    font-weight: 100;
    line-height: 135.292%; /* 33.823px */
  }
</style>
