---
import { Image } from "astro:assets";
import yashsharma from "../imgs/yashsharma.png";
import BaseLayout from "../layouts/baselayout.astro";
// Supports weights 300-700
import "@fontsource-variable/comfortaa";
import "@fontsource-variable/playfair-display";
---
<BaseLayout current="about">
  <h class="mb-[15px] text-[16px] md:text-[20px] md:mb-[30px]">ABOUT</h>
  <div class="flex flex-col items-center justify-between space-y-5 mb-5 xl:flex xl:flex-row xl:items-center xl:w-full xl:justify-between">
    <div class="space-y-2 md:space-y-4 xl:space-y-4 xl:w-[700px]">
      <p class="text-[16px] md:text-[18px]">
        Hello, I am <span class="italic">Yash Sharma</span>. Welcome to my website. I am
        currently a sophomore at university studying Mechanical Engineering.
        I have always been interested in Engineering, that's why I picked
        this as a major. I have been interested in machines since my 
        childhood, there is no count of how many watches, phones, toy cars,
        I have opend till now. My interest in machines probably began when
        my dad brought me a watch and I opened it in a week, he was not happy
        :). We also had a windows xp machine with Pentium Core 2 Duo with
        512MB of RAM, I still have it. I used to spend 3-4hr a day playing
        GTA Vice City and Road Rash. That is where my fascination with
        computers began.
      </p>
      <p class="text-[16px] md:text-[18px]">
        Those curiosities in my mind brought me so far in the world of 
        technology. I am also interested in 3D designing, my interest in 3D
        developed when I was in 11th grade, my father brought me a new laptop 
        Macbook Air M1. At that time I stumbled upon a video in which a guy animated a 
        ring falling on ground using 
      </p>
      <p class="text-[16px] md:text-[18px]">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. At, nihil
        nemo consequatur consectetur, ad veritatis laudantium, sapiente
        temporibus nam eum quas? Reiciendis sint dicta ipsum enim nam,
        dolorum pariatur necessitatibus! Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Architecto perspiciatis accusamus,
        nisi alias eligendi excepturi expedita suscipit cumque eaque
        praesentium animi corporis totam dignissimos eveniet non, neque
        exercitationem! Nobis officia possimus sunt ullam impedit amet,
        blanditiis quibusdam unde delectus voluptas? Quis laborum velit
        inventore deleniti assumenda, incidunt itaque ducimus, eaque rem,
        delectus repellendus eveniet dolorem excepturi. Suscipit
        consequuntur facilis odio nobis quisquam. Eveniet, quis. Optio qui
        fuga distinctio quo, sint nostrum rerum quae illum saepe quibusdam
      </p>
    </div>
    <div class="md:mx-10 md:flex md:justify-center md:bg-[#D9D9D942] md:rounded-[16px] md:shadow-xl">
      <Image
        class="rounded-[8px] drop-shadow-xl"
        src={yashsharma}
        alt="Yash Sharma"
      />
    </div>
  </div>
</BaseLayout>

<style>
  h {
    color: var(--Light-Mode-LM---Title, #000);
    text-align: center;
    font-family: "Comfortaa Variable", system-ui;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1px;
  }
  p {
    width: auto;
    color: var(--Light-Mode-LM---Para, #585858);
    font-family: "Playfair Display Variable";
    font-weight: 100;
    line-height: 135.292%; /* 33.823px */
  }
</style>
