---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import { Image } from "astro:assets";
import line from "../imgs/line.svg";
---

<html lang="en" class="bg-[#EEEEEE] scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="y.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>about</title>
  </head>
  <body>
    <Nav />
    <main class="flex flex-col items-start w-full mt-[50px]">
      <h class="mx-[120px] mb-[40px]">ABOUT</h>
      <p class="mx-[120px]">
        Hello 
      </p>
      <p class="mx-[120px]">
        
      </p>
      <p class="mx-[120px]">
        
      </p>
      <p class="mx-[120px]"></p>
    </main>
    <Image class="px-[100px]" src={line} height={5} width={1528} alt="line" />
    <Footer />
  </body>
</html>
<style>
  main h {
    color: var(--Light-Mode-LM---Title, #000);
    text-align: center;
    font-family: Comfortaa;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.2px;
  }
  main h1 {
    color: var(--Light-Mode-LM---Title, #000);
    font-family: "IBM Plex Sans Hebrew";
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.2px;
  }
  main p {
    width: auto;
    color: var(--Light-Mode-LM---Para, #585858);
    font-family: Cardo;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 135.292%; /* 33.823px */
  }
</style>
