---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/baselayout.astro";
import BlogPostCard from "../components/blog/BlogPostCard.astro";

import type { Crumb } from "../utils/types";

const title = "blogs";
const current = "blogs";
const breadcrumbs: Array<Crumb> = [{ title: "BLOGS", href: "/blogs/" }];

const blogPosts = await getCollection("blogs");
---

<BaseLayout {title} {current} breadcrumbs={breadcrumbs}>
<div class="flex flex-col md:space-y-8 space-y-5 w-full mb-3">
    <div class="flex flex-col space-y-2 md:space-y-4">
        <h1 class="text-LM-Title dark:text-DM-Title uppercase text-[20px] font-title md:text-[25px] tracking-[-0.80px]">
           Welcome to my Blogs
        </h1>
        <p class="md:w-10/12 text-LM-Para dark:text-DM-Para font-para text-[14px] md:text-[17px] h-full font-normal">
            Here, I will share my thoughts on technology, mathematics, physics, and sometimes history. You'll also find
             tutorials on various topics. I've always wanted to share my ideas online, and now I have a website to do
              just that. I hope you find the content helpful. Enjoy reading!
        </p>
    </div>
    <hr class="border-LM-Secondary dark:border-DM-Secondary" />
    <div class="flex flex-col space-y-4 md:space-y-8 items-start">
        {
            blogPosts.sort((a, b) => a.data.postNo - b.data.postNo).map((blogPost) => <BlogPostCard {blogPost} />)
        }
    </div>
</div>
</BaseLayout>
<style>
    hr {
    display: block;
    border-width: 1px;
    opacity: 0.36;
    border-radius: 2px;
  }
</style>