---
import BaseLayout from "../layouts/baselayout.astro";
// Supports weights 400-900
import "@fontsource-variable/comfortaa";
import "@fontsource-variable/playfair-display";
import "@fontsource/ibm-plex-sans-hebrew";
import { Image } from "astro:assets";
import home_img from "../imgs/home_image.png";
import leftSlider from "../imgs/left_slider.svg";
import rightSlider from "../imgs/right_slider.svg";
---

<BaseLayout title="home">
  <div class="flex flex-col items-between space-y-8 md:w-full xl:space-y-0 xl:flex xl:flex-row xl:w-full xl:justify-between xl:items-center">
    <p class="text-[30px] md:text-[35px] text-LM-Title dark:text-DM-Title xl:text-[45px] left">
          Hey, I am <br />
          Yash Sharma
    </p>
    <p class="text-[25px] text-LM-Para dark:text-DM-Para md:text-[27px] xl:text-[35px] right"> I am currently in university as a <span1 class="italic text-[25px] md:text-[27px] xl:text-[35px]">sophomore</span1> studying <br /><span class="text-LM-Title dark:text-DM-Title text-[25px] md:text-[27px] xl:text-[35px]"> Mechanical Engineering </span>
    </p>
  </div>
  <div class="md:flex md:flex-row md:w-full md:my-10">
    <button>
      <Image
        class="hidden-mobile"
        src={leftSlider}
        height={50}
        width={50}
        alt="Display img slider"
      />
    </button>
        <!-- mobile display img -->
    <Image
      class="md:hidden"
      src={home_img}
      height={800}
      width={800}
      alt="Display Item Mobile"
    />
    <!-- desktop display img -->
    <div class="hidden-mobile md:mx-10 md:w-full md:flex md:justify-center md:bg-LM-Title-Bar dark:bg-DM-Title-Bar md:rounded-[16px] md:px-[10px] md:py-[10px] md:shadow-xl">
      <div class="md:w-full md:flex md:justify-center md:bg-[#000000] md:rounded-[8px]">
        <Image src={home_img} height={358} width={358} alt="Display Item" />
      </div>
    </div>
    <button>
      <Image
        class="hidden-mobile"
        src={rightSlider}
        height={50}
        width={50}
        alt="Display img slider"
      />
    </button>
  </div>
</BaseLayout>

<style>
  .left {
    font-family: "Playfair Display Variable", serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.81px;
  }
  .right {
    font-family: "Playfair Display Variable", serif;
    font-weight: 100;
    line-height: normal;
    letter-spacing: -0.66px;
  }
  @media (max-width: 768px) {
    .hidden-mobile {
      display: none;
    }
  }
</style>
