---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
// Supports weights 400-900
import "@fontsource-variable/playfair-display";
import { Image } from "astro:assets";
import displayimg from "../imgs/%.svg"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="bg-[#EEEEEE]">
    <Nav />
    <main class="flex flex-col items-center justify-start mx-[120px] my-[84px]">
      <div class="flex flex-row w-full justify-between items-center">
        <p class="left">
          Hey, I am <br />
          Yash Sharma.
        </p>

        <p class="right">
          I am currently in university as a sophomore studying <br />
          <span>Mechanical Engineering.</span>
        </p>
      </div>
    </main> 
	<main class="flex flex-col items-center justify-start mx-[120px] mt-[225px] mb-[90px]">
		<Image class="bg-[#D9D9D9] rounded-[16px] px-[10px] py-[10px]" src={displayimg} height={365} width={1500} alt="Display Item"/>
	</main>
    <Footer />
  </body>
</html>

<style>
  .left {
    color: var(--Light-Mode-LM---Title, #000);
    font-family: "Playfair Display";
    font-size: 45px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.35px;
  }
  .right {
    color: var(--Light-Mode-LM---Para, #585858);
    font-family: "Playfair Display";
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.05px;
  }

  .right span {
    color: var(--Light-Mode-LM---Title, #000);
    font-family: "Playfair Display";
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.05px;
  }
</style>
