---
import BaseLayout from "../layouts/baselayout.astro";
import "@fontsource-variable/playfair-display";

import { Image } from "astro:assets";
import moon from "../imgs/blogs/jupiter.png";
import home_img from "../imgs/home/home_image.png";
// import leftSlider from "../imgs/left_slider.svg";
// import rightSlider from "../imgs/right_slider.svg";

import { Icon } from "astro-icon/components";

---

<BaseLayout title="yash sharma's homepage">
  <div class="flex flex-col font-home items-between space-y-8 sm:flex sm:flex-col md:w-full xl:space-y-0 xl:flex xl:flex-row xl:w-full xl:justify-between xl:items-center">
    <p class="text-[33px] font-[400] tracking-[-0.8px] text-LM-Title dark:text-DM-Title xl:text-[38px] left">
          Hey, I am <br />
          Yash Sharma
    </p>
    <p class="text-[25px] font-[100] text-LM-Para dark:text-DM-Para xl:text-[35px] right"> I am currently in university as a <span1 class="italic">sophomore</span1> studying <br /><span class="text-LM-Title dark:text-DM-Title font-[100]"> Mechanical Engineering </span>
    </p>
  </div>
  <div class="md:flex md:flex-row md:mt-[55px] md:mb-[25px] md:w-full">
    <!-- Carousel -->
    <button>
      <Icon
        name="left"
        size={50}
        class="hidden-mobile bg-LM-Title-Bar dark:bg-DM-Title-Bar rounded-full motion-safe:hover:scale-110 transform-gpu transition ease-in-out"
      />
    </button>
      <div class="hidden md:w-full md:flex md:justify-center md:bg-LM-Title-Bar md:dark:bg-DM-Title-Bar md:p-[10px] md:rounded-3xl md:mx-10">
        <Image class="rounded-xl bg-[#000000]" src={moon} height={1000} width={1800} alt="Display Item" />
      </div>
    <button>
      <Icon
        name="right"
        size={50}
        class="hidden-mobile bg-LM-Title-Bar dark:bg-DM-Title-Bar rounded-full motion-safe:hover:scale-110 transform-gpu transition ease-in-out"
      />
    </button>
    <!-- mobile display img -->
    <Image
      class="md:hidden"
      src={home_img}
      height={1050}
      width={1050}
      alt="Display Item Mobile"
    />
  </div>
</BaseLayout>

<style>
  @media (max-width: 768px) {
    .hidden-mobile {
      display: none;
    }
  }
</style>
