---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import "@fontsource-variable/comfortaa"
import "@fontsource-variable/playfair-display"
import "@fontsource/ibm-plex-sans-hebrew"
---

<html lang="en" class="bg-[#EEEEEE] scroll-smooth antialiased">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="y.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>projects</title>
  </head>
  <body>
    <Nav />
    <main class="flex flex-col items-start mx-[35px] mt-[33px] md:mx-[100px] md:mt-[50px]">
      <h class="mb-[15px] text-[16px] md:text-[20px] md:mb-[30px]">PROJECTS</h>
      <h1 class="mb-[10px] text-[25px] md:text-[30px] md:mb-[20px]">
        Sand Simulation - Cellular Automaton
      </h1>
      <p class="text-[18px] md:text-[20px]">
        In October 2023, I built this project inspired by a video from The
        Coding Train, which explored Cellular Automaton. This project not only
        piqued my interest but also served as a creative outlet for
        experimenting with simulations. Using Cellular Automaton, I simulated
        the behaviour of sand, water, and smoke, showcasing the fascinating
        capabilities of cellular automaton in generating complex patterns and
        behaviours.
      </p>
      <h1 class="my-[10px] text-[25px] md:text-[30px] md:my-[20px]">
        Handwritten Digit Recognition AI
      </h1>
      <p class="text-[18px] md:text-[20px]">
        This project represents my initial step into the world of artificial
        intelligence and machine learning. Completed in January 2024, it
        showcases my foundational understanding of neural networks, gradient
        descent, and essential mathematical concepts like linear algebra,
        differentials etc. Drawing inspiration from educational resources like
        3Blue1Brown and Samson Zhang's YouTube channels, I embarked on this
        journey to delve deeper into AI.
      </p>
      <h1 class="my-[10px] text-[25px] md:text-[30px] md:my-[20px]">Spring Simulation</h1>
      <p class="text-[18px] md:text-[20px]">
        As a passionate enthusiast of physics and simulations, I undertook a
        project during my 12th-grade year in August 2022 to delve into the
        intricacies of physics-based simulations. The objective was to develop a
        realistic cloth simulation using fundamental physics principles,
        particularly focusing on the behaviour of springs. I was not that
        focused on the code quality, I will fix this in future and optimise it.
        I will make this project in C++ using SDL or Raylib library too.
      </p>
      <h1 class="my-[10px] text-[25px] md:text-[30px] md:my-[20px]">Ray Casting</h1>
      <p class="text-[18px] md:text-[20px]">
        This project was also fun, I developed this project in 12th grade using Python's Pygame library. It involves casting rays to generate 
        a 3D scene from a 2D map, inspired by a video on ray casting by The Coding Train YouTube channel. This project 
        not only enhanced my understanding of computer graphics and ray casting algorithms but also allowed me to 
        apply mathematical concepts in a creative way. It provided a solid foundation and sparked my interest in exploring Ray Tracing.
      </p>
    </main>
    <Footer  />
  </body>
</html>
<style>
  main h {
    color: var(--Light-Mode-LM---Title, #000);
    text-align: center;
    font-family: "Comfortaa Variable";
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.2px;
  }
  main h1 {
    color: var(--Light-Mode-LM---Title, #000);
    font-family: 'IBM Plex Sans Hebrew', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.2px;
  }
  main p {
    width: auto;
    color: var(--Light-Mode-LM---Para, #585858);
  font-family: 'Playfair Display Variable', serif;
    font-style: normal;
    font-weight: 400;
    line-height: 135.292%; /* 33.823px */
  }
</style>
