---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import { Image } from "astro:assets";
import line from "../imgs/line.svg";
---

<html lang="en" class="bg-[#EEEEEE] scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="y.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>projects</title>
  </head>
  <body>
    <Nav />
    <main class="flex flex-col items-start w-full mt-[50px]">
      <h class="mx-[120px] mb-[40px]">PROJECTS</h>
      <h1 class="mx-[120px] mb-[25px]">Sand Simulation - Cellular Automaton</h1>
      <p class="mx-[120px]">
        In October 2023, I build this project inspired by a video from The
        Coding Train, which explored Cellular Automaton. This project not only
        piqued my interest but also served as a creative outlet for
        experimenting with simulations. Using Cellular Automaton, I simulated
        the behaviour of sand, water, and smoke, showcasing the fascinating
        capabilities of cellular automaton in generating complex patterns and
        behaviours.
      </p>
      <h1 class="mx-[120px] mt-[25px] mb-[25px]">
        Handwritten Digit Recognition AI
      </h1>
      <p class="mx-[120px]">
        This project represents my initial step into the world of artificial
        intelligence and machine learning. Completed in January 2024, it
        showcases my foundational understanding of neural networks, gradient
        descent, and essential mathematical concepts like linear algebra,
        differentials etc. Drawing inspiration from educational resources like
        3Blue1Brown and Samson Zhang's YouTube channels, I embarked on this
        journey to delve deeper into AI.
      </p>
      <h1 class="mx-[120px] mt-[25px] mb-[25px]">Spring Simulation</h1>
      <p class="mx-[120px]">
        As a passionate enthusiast of physics and simulations, I undertook a
        project during my 12th-grade year in August 2022 to delve into the
        intricacies of physics-based simulations. The objective was to develop a
        realistic cloth simulation using fundamental physics principles,
        particularly focusing on the behaviour of springs. I was not that
        focused on the code quality, I will fix this in future and optimise it.
        I will make this project in C++ using SDL or Raylib library too.
      </p>
      <h1 class="mx-[120px] mt-[25px] mb-[25px]">Ray Casting</h1>
      <p class="mx-[120px]"></p>
    </main>
    <Image class="px-[100px]" src={line} height={5} width={1528} alt="line" />
    <Footer />
  </body>
</html>
<style>
  main h {
    color: var(--Light-Mode-LM---Title, #000);
    text-align: center;
    font-family: Comfortaa;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.2px;
  }
  main h1 {
    color: var(--Light-Mode-LM---Title, #000);
    font-family: "IBM Plex Sans Hebrew";
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.2px;
  }
  main p {
    width: auto;
    color: var(--Light-Mode-LM---Para, #585858);
    font-family: Cardo;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 135.292%; /* 33.823px */
  }
</style>
