---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/baselayout.astro";
import ProjectPostCard from "../components/projects/ProjectPostCard.astro";
import type { Crumb } from "../utils/types";

const breadcrumbs: Array<Crumb> = [{ title: "PROJECTS", href: "/projects/" }];
const projectPosts = await getCollection("projects");
---

<BaseLayout title="projects" current="projects" {breadcrumbs}>
<div class="flex flex-col space-y-5 mb-3 md:space-y-8">
  <div class="flex flex-col space-y-2 md:space-y-4 mx-3">
    <h1 class="text-LM-Title dark:text-DM-Title uppercase text-[20px] font-title tracking-[-0.88px] md:text-[25px]">
       Welcome to my Projects
    </h1>
    <p class="text-LM-Para dark:text-DM-Para font-para lg:w-10/12 text-[15px] md:text-[19px] font-normal">
      These are the projects I have done. If you have any project ideas and would like to collaborate,
       just send me an <a class="text-LM-Link dark:text-DM-Link hover:underline underline-offset-3" href="mailto:yashsharma4583@gmail.com">e-mail</a> 
       we'll talk about it!
    </p>
  </div>
  <hr class="border-LM-Secondary dark:border-DM-Secondary border-[1px] opacity-[0.36] rounded-sm" />
  <div class="flex flex-col items-start space-y-4 md:space-y-5">
        {projectPosts.sort((a, b) => a.data.postNo - b.data.postNo).map((projectPost) => <ProjectPostCard {projectPost} />)}
  </div>
</div>
</BaseLayout>