---
import "@fontsource-variable/comfortaa";
import BaseLayout from "../layouts/baselayout.astro";
import Project from "../components/Project.astro";
---

<BaseLayout title="projects">
  <h class="mb-[15px] text-[16px] text-LM-Title dark:text-DM-Title md:text-[20px] md:mb-[30px]"> PROJECTS </h>
  <main class="flex flex-col space-y-5">
    <Project title="Handwritten Digit Recognition AI" date="JAN 2024" desc="This project represents my initial step into the world of artificial\
    intelligence and machine learning. It showcases my foundational\
    understanding of neural networks, gradient descent, and essential\
    mathematical concepts like linear algebra, differentials, etc. Drawing\
    inspiration from educational resources like 3Blue1Brown and Samson Zhang's\
    YouTube channels, I embarked on this journey to delve deeper into AI."/>
    
    <Project title="Spring Simulation" date="AUG 2023" desc="As a passionate enthusiast of physics and simulations, I undertook a\
    project during my 12th-grade to delve into the intricacies of\
    physics-based simulations. The objective was to develop a realistic cloth\
    simulation using fundamental physics principles, particularly focusing on\
    the behaviour of springs. I was not that focused on the code quality; I\
    will fix this in the future and optimize it. I will make this project in\
    C++ using the SDL or Raylib libraries too."/>

    <Project title="Ray Casting" date="SEP 2023" desc="This project was also fun. I developed it in 12th grade using Python's\
    Pygame library. It involves casting rays to generate a 3D scene from a 2D\
    map, inspired by a video on ray casting by The Coding Train YouTube\
    channel. This project not only enhanced my understanding of computer\
    graphics and ray casting algorithms but also allowed me to apply\
    mathematical concepts in a creative way. It provided a solid foundation\
    and sparked my interest in exploring ray tracing."/>

    <Project title="Title" date="JAN 2022" desc="Lorem ipsum dolor sit amet consectetur adipisicing elit. \
    Sint quaerat dolorem qui amet nostrum odit maxime debitis laboriosam quae dolorum ipsam ea \
    voluptates excepturi, aliquid minus ex architecto quia cum!"/>

  </main>
  <style>
    h {
      text-align: center;
      font-family: "Comfortaa Variable";
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: -1px;
    }

  </style>
</BaseLayout>
