---
import Image from "astro/components/Image.astro";

import BaseLayout from "../layouts/baselayout.astro";
import type { Crumb } from "../utils/types";

import diamond from "../imgs/renders/diamond.png"
import arc_reactor from "../imgs/renders/arc_reactor.png"

const breadcrumbs: Array<Crumb> = [{ title: "renders", href: "/renders/" }];
---

<BaseLayout title="renders" current="renders" {breadcrumbs} >
    <div class="flex flex-col space-y-4 md:space-y-10 md:w-full">
        <div class="flex flex-col space-y-2 md:space-y-5">
            <h1 class="font-title text-[25px] md:text-[30px] tracking-[-0.8px] uppercase">My Blender Creations</h1>
            <p class="font-sans text-[14px] md:text-[18px]">Welcome to my Renders page! Here, you'll find a showcase of the stunning visualizations I've crafted using Blender.</p>
        </div>
        <div class="bg-LM-Title-Bar dark:bg-DM-Title-Bar space-y-3 p-3 md:p-4 rounded-2xl w-full flex flex-col md:items-start md:flex-row md:space-x-8">
            <Image class="md:size-52 size-full rounded-lg" src={diamond} alt="Diamond Dazzle: Nature's Gem"></Image>
            <div class="flex flex-col items-center md:items-start font-sans text-LM-Title dark:text-DM-Title">
                <h1 class="md:text-[35px] text-[22px] uppercase">Nature's Gem</h1>
                <span class="md:text-[14px] text-[12px] font-title">24 Feb 2024</span>
            </div>
        </div>
        <div class="bg-LM-Title-Bar dark:bg-DM-Title-Bar space-y-3 p-3 md:p-4 rounded-2xl w-full flex flex-col md:items-start md:flex-row md:space-x-8">
            <Image class="md:size-52 size-full rounded-lg" src={arc_reactor} alt="Arc Reactor"></Image>
            <div class="flex flex-col items-center md:items-start font-sans text-LM-Title dark:text-DM-Title">
                <h1 class="md:text-[35px] text-[22px] uppercase">Arc Reactor</h1>
                <span class="md:text-[14px] text-[12px] font-title">04 Jan 2024</span>
            </div>
        </div>
        <!-- <RenderPostCard title="Title" date="2024-02-24" desc="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus iusto iure facere adipisci earum at fugit obcaecati amet. Facilis aspernatur mollitia ipsum dolor iusto id eaque soluta ut aut quasi!"/>
        <RenderPostCard title="Title" date="2024-02-24" desc="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus iusto iure facere adipisci earum at fugit obcaecati amet. Facilis aspernatur mollitia ipsum dolor iusto id eaque soluta ut aut quasi!"/> -->
    </div>
</BaseLayout>