---
import { Icon } from "astro-icon/components";
import type { Crumb } from "../utils/types.ts";

interface Props {
  breadcrumbs: Array<Crumb>;
}

const { breadcrumbs } = Astro.props as Props;
---

<div
  class="breadcrumbs breadcrumbs-container mb-[15px] font-crumbs uppercase font-semibold tracking-[-0.8px] text-[13px] text-LM-Title dark:text-DM-Title md:text-[17px] md:mb-[30px]"
>
  <ol class="flex flex-row space-x-1 items-center align-middle font-sans">
    {
      breadcrumbs &&
        breadcrumbs.map((crumb, idx) => (
          <>
            <li>
              <a
                class:list={[
                  idx === breadcrumbs.length - 1
                    ? "text-LM-Title dark:text-DM-Title"
                    : "",
                  "hover:text-LM-Nav-Unselected dark:hover:text-DM-Nav-Selected",
                ]}
                {...(idx === breadcrumbs.length - 1
                  ? { "aria-current": "page" }
                  : {})}
                href={crumb.href}
              >
                {crumb.title}
              </a>
            </li>
            {idx < breadcrumbs.length - 1 && (
              // <p class="font-mono text-LM-Nav-Unselected dark:text-DM-Nav-Selected h-full">></p>
              <Icon name="chevronright" class="pb-0.5 size-[16px] md:size-[20px] text-LM-Nav-Unselected dark:text-DM-Nav-Selected"/>
            )}
          </>
        ))
    }
  </ol>
</div>
