---
---
<div class:list={[
    "prose dark:prose-invert",
    "text-[16px] md:text-[18px]",
    "prose-headings:uppercase prose-headings:text-LM-Title dark:prose-headings:text-DM-Title prose-headings:font-title prose-headings:font-normal prose-headings:tracking-[-0.03rem]",
    "prose-a:no-underline prose-a:underline-offset-1 hover:prose-a:underline prose-a:text-LM-Link dark:prose-a:text-DM-Link",
    "prose-p:font-para prose-p:text-LM-Para dark:prose-p:text-DM-Para prose-strong:text-LM-Title dark:prose-strong:text-DM-Title",
    "prose-li:text-LM-Para dark:prose-li:text-DM-Para",
    "prose-code:text-LM-Title dark:prose-code:text-DM-Title",
    "prose-hr:border-[1px] prose-hr:border-end-radius-[1px] prose-hr:border-LM-Secondary dark:prose-hr:border-DM-Secondary",
    "prose-table:font-para prose-table:text-LM-Para dark:prose-table:text-DM-Para",
    "prose-ul:font-para prose-ol:font-para",
    "prose-blockquote:not-italic prose-blockquote:border-LM-Secondary dark:prose-blockquote:border-DM-Secondary",
    "max-w-none",
    "prose-img:rounded-xl prose-img:bg-[#000000] prose-img:shadow-xl",
  ]}>
<slot />
</div>