---
---
<div
  class="prose prose-headings:uppercase prose-code:font-mono prose-headings:text-LM-Title dark:prose-headings:text-DM-Title prose-headings:font-title prose-headings:text-[30px] prose-headings:font-[200] prose-p:text-LM-Para dark:prose-p:text-DM-Para prose-p:font-serif prose-hr:w-full">
  <slot />
</div>