<div
  class:list={[
    "prose dark:prose-invert",
    "text-[16px] md:text-[18px]",
    "prose-headings:uppercase prose-headings:font-title prose-headings:font-normal prose-headings:tracking-[-0.03rem]",
    "prose-a:no-underline prose-a:underline-offset-1 hover:prose-a:underline",
    "prose-p:font-para",
    "prose-table:font-para",
    "prose-ul:font-para prose-ol:font-para",
    "prose-blockquote:not-italic",
    "max-w-none",
  ]}
>
  <slot />
</div>