<div class:list={[
    "prose dark:prose-invert",
    "text-[16px] md:text-[18px]",
    "prose-headings:uppercase prose-headings:font-title prose-headings:font-normal prose-headings:tracking-[-0.03rem]",
    "prose-a:no-underline prose-a:text-LM-Link prose-a:dark:text-DM-Link prose-a:underline-offset-1 hover:prose-a:underline",
    "prose-p:font-para prose-p:text-LM-Para dark:prose-p:text-DM-Para",
    "prose-hr:border-LM-Secondary dark:prose-hr:border-DM-Secondary prose-hr:border-[1px] prose-hr:opacity-[0.36] prose-hr:rounded-sm",
    "prose-table:font-para prose-p:text-LM-Para dark:prose-p:text-DM-Para",
    "prose-tr:text-LM-Para dark:prose-tr:text-DM-Para prose-tr:font-normal",
    "prose-ul:font-para prose-ul:text-LM-Para dark:prose-ul:text-DM-Para prose-ol:text-LM-Para dark:prose-ol:text-DM-Para prose-ol:font-para",
    "prose-blockquote:not-italic prose-blockquote:border-LM-Secondary dark:prose-blockquote:border-DM-Secondary",
    "max-w-screen-lg",
    "prose-img:rounded-xl prose-img:bg-[#000000] prose-img:shadow-xl",
  ]}>
<slot />
</div>