<div class:list={[
  "prose dark:prose-invert",
  "text-[16px] md:text-[18px] align-middle items-center",
  "prose-headings:uppercase prose-headings:font-title prose-headings:font-normal prose-headings:tracking-[-0.03rem]",
  "prose-a:no-underline prose-a:text-LM-Link prose-a:dark:text-DM-Link prose-a:underline-offset-1 hover:prose-a:underline prose-a:transition prose-a:ease-linear",
  "prose-p:font-para prose-p:text-LM-Para dark:prose-p:text-DM-Para prose-p:transition-all prose-p:ease-linear",
  "prose-hr:border-LM-Secondary dark:prose-hr:border-DM-Secondary prose-hr:border-[1px] prose-hr:opacity-[0.36] prose-hr:rounded-sm prose-hr:transition-all prose-hr:ease-linear",
  "prose-table:font-para prose-table:text-LM-Para dark:prose-table:text-DM-Para prose-table:transition-all prose-table:ease-linear",
  "prose-tr:text-LM-Para dark:prose-tr:text-DM-Para prose-tr:font-normal prose-tr:transition-all prose-tr:ease-linear",
  "prose-ul:font-para prose-ul:text-LM-Para dark:prose-ul:text-DM-Para prose-ul:transition-all prose-ul:ease-linear",
  "prose-blockquote:not-italic prose-blockquote:border-LM-Secondary dark:prose-blockquote:border-DM-Secondary prose-blockquote:transition-all prose-blockquote:ease-linear",
  "max-w-none",
  "prose-img:rounded-xl prose-img:bg-[#000000]",
]}>
<slot />
</div>