---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import type { navItems } from "../utils/types";

interface BaseLayoutProps {
  title?: string;
  current: string;
  navitems: navItems[];
}

const { title, current, navitems } = Astro.props as BaseLayoutProps;
import "@fontsource-variable/comfortaa";
import "@fontsource-variable/playfair-display";
import "@fontsource/ibm-plex-sans-hebrew";
---

<!doctype html>
<html lang="en" class="selection:bg-DM-Nav-Selected selection:text-[#111111] dark:selection:bg-LM-Nav-Selected dark:selection:text-[#E9E9E9] antialiased scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="y.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-LM-Background dark:bg-DM-Background max-w-[1650px] flex flex-col m-auto mt-6 md:mt-11">
    
      <Nav {current} {navitems} />
    </header>
    <main class="flex flex-col items-start mx-8 mt-6 md:mx-[100px] md:mt-8">
      <slot />
    </main>
    <script is:inline>
      const theme = (() => {
        if (
          typeof localStorage !== "undefined" &&
          localStorage.getItem("theme")
        ) {
          return localStorage.theme;
        } else if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          return "dark";
        } else {
          return "light";
        }
      })();

      document.documentElement.classList.toggle("dark", theme === "dark");
      localStorage.setItem("theme", theme);
    </script>
    <Footer />
  </body>
</html>
