---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import ThemeManager from "../components/ThemeManager.astro";
import Breadcrumbs from "../components/Breadcrumbs.astro";
import type { Crumb } from "../utils/types";

import "@fontsource-variable/comfortaa";
import "@fontsource-variable/playfair-display";
import "@fontsource/ibm-plex-sans-hebrew";
import "@fontsource-variable/newsreader";

import { ViewTransitions } from "astro:transitions";
import Head from "../components/Head.astro";
import "../styles/transition.css"

interface BaseLayoutProps {
  title?: string;
  current: string;
  breadcrumbs: Crumb[];
}

const { title, current, breadcrumbs } = Astro.props as BaseLayoutProps;

---

<!doctype html>
<html lang="en" class="selection:bg-DM-Nav-Selected dark:selection:bg-LM-Nav-Selected antialiased scroll-smooth">
  <head>
    <Head title={title}/>
    <ViewTransitions/>
    <ThemeManager/>
  </head>
  <body class="bg-LM-Background dark:bg-DM-Background transition max-w-screen-2xl flex flex-col m-auto mt-6 md:mt-11">
      <Nav {current}/>
      <main class="flex flex-col items-start mx-8 mt-6 md:mx-[110px] md:my-4">
        <Breadcrumbs {breadcrumbs} />
        <slot />
      </main>
    <Footer />
  </body>
</html>
